
.fullscreen {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: 'Lunarie';
  src: url('assets/fonts/FontsFree-Net-Lunarie.ttf');
  font-style: normal;
}

html, body {
  overflow: hidden;
  font-family: 'Lunarie', sans-serif;
  color: #2f2f2f;
}



/* Page Loader */

.page-loader {
  width: calc(100vw - 15px);
  height: calc(100vh - 15px);
  background-color: #f5e6d3;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base {
  position: absolute;
  width: 90px;
  height: 51px;
}
.base-two {
  transform: rotate(60deg)
}
.base-three {
  transform: rotate(-60deg)
}

.loader-hex-edge {
  position: absolute;
  width: 4px;
  height: 0%;
  background: #00738B;
  z-index: 101;
}

.h1 {
  left: 0;
  animation: AniOne 7.2s ease infinite;
}
.h2 {
  right: 0;
  animation: AniTwo 7.2s ease .6s infinite;
}
.h3 {
  right: 0;
  animation: AniTwo 7.2s ease 1.2s infinite;
}
.h4 {
  right: 0;
  animation: AniTwo 7.2s ease 1.8s infinite;
}
.h5 {
  left: 0;
  animation: AniOne 7.2s ease 2.4s infinite;
}
.h6 {
  left: 0;
  animation: AniOne 7.2s ease 3s infinite;
}

@keyframes AniOne {
  0% {
    bottom: 0;
    height: 0;
  }
  6.944444444% {
    bottom: 0;
    height: 100%;
  }
  50% {
    top: 0;
    height: 100%;
  }
  59.944444433% {
    top: 0;
    height: 0;
  }
}
@keyframes AniTwo {
  0% {
    top: 0;
    height: 0;
  }
  6.944444444% {
    top: 0;
    height: 100%;
  }
  50% {
    bottom: 0;
    height: 100%;
  }
  59.944444433% {
    bottom: 0;
    height: 0;
  }
}



/* Canvas */

.container {
  width: calc(100vw - 15px);
  height: calc(100vh - 15px);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canvas {
  border-radius: 10px;
}



/* Joystick */

.joystick {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}



/* Icons */

.js-loading {
  animation-play-state: paused !important;
}

.hex-container {
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 10;
}
.hex-music {
  top: 40px;
  right: 50px;
  animation: slideInLeft 8s ease-in;
}
.hex-info {
  top: 100px;
  right: 50px;
  animation: slideInLeft 8.05s ease-in;
}
.hex-speed {
  bottom: 160px;
  right: 50px;
  animation: slideInLeft 8.1s ease-in;
}
.hex-birds-eye {
  bottom: 100px;
  right: 50px;
  animation: slideInLeft 8.15s ease-in;
}
@media (max-height: 350px) {
  .hex-speed {
    bottom: 100px;
    right: 110px;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    right: 35px;
  }
  95% {
    opacity: 0;
    right: 35px;
  }
  100% {
    opacity: 1;
    right: 50px;
  }
}

.icon {
  position: absolute;
  z-index: 11;
  top: 23px;
  left: 0px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.hex {
  position: absolute;
  margin: 1em auto;
  width: 20px;
  height: 34px;
  border-radius: 4px/2px;
  cursor: pointer;
  transition: 0.5s;
}
.hex:before,
.hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}
.hex:before {
  transform: rotate(60deg);
}
.hex:after {
  transform: rotate(-60deg);
}

.hex-one {
  background: #98BF06;
  z-index: 2;
}
.hex-one:hover + .hex-two {
  transform: rotate(-25deg);
}

.hex-two {
  background: #367308;
  z-index: 1;
  transform-origin: bottom right;
  transform: rotate(-14deg);
}



/* Info Modal */

.info-modal-page {
  width: calc(100vw - 15px);
  height: calc(100vh - 15px);
  background-color: #f5e6d3b8;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.info-box {
  background-color: #efdec8;
  width: 100%;
  max-width: 500px;
  margin: 30px;
  height: auto;
  position: relative;
  border-radius: 8px;
  padding: 30px;
  opacity: 0;
}
@media (max-width: 320px) {
  .info-box {
    padding: 20px;
  }
}
@media (max-height: 400px) {
  .info-box {
    padding: 20px;
  }
}

.info-close {
  position: absolute;
  top: -35px;
  right: 10px;
}

.exit-icon {
  position: absolute;
  z-index: 11;
  top: 23px;
  left: 0px;
  width: 20px;
  height: auto;
  pointer-events: none;
}

.info-box h1 {
  margin: 0px;
}
.info-box p {
  margin: 40px 0px 0px;
  line-height: 1.7;
}
@media (max-width: 500px) {
  .info-box h1 {
    font-size: 18px;
  }
  .info-box p {
    font-size: 14px;
  }
}
@media (max-height: 400px) {
  .info-box h1 {
    font-size: 18px;
  }
  .info-box p {
    font-size: 14px;
  }
}
@media (max-height: 300px) {
  .info-box h1 {
    font-size: 15px;
  }
  .info-box p {
    font-size: 12px;
  }
}
