html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: #0f2027;
  background: -webkit-linear-gradient(to top, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
  color: rgb(49, 98, 127);
}

.canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
